langchain
langchain_core
ipykernel
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
# chromadb
chromadb>=1.3.5,<2.0.0
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
flask
langchain_groq
fastapi
uvicorn
langserve[all]
ddgs
bs4
duckdb
pandas
duckduckgo_search==5.3.1b1
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio
crewai
crewai_tools
youtube-transcript-api
pinecone-client
langchain-pinecone
# chromadb>=1.3.5,<2.0.0

#For fastapi bot
aiofiles
Jinja2
python-multipart
mangum

###For classical ml
xgboost 
scikit-learn 
pandas 
numpy 
matplotlib 
seaborn
shap 
optuna 
imbalanced-learn 
joblib